{% set active_page = "description" %}
{% extends 'base.html' %}

{% block title %}
    О нас
{% endblock %}

{% block content_title %}
    О нас
{% endblock %}

{% block content %}
    <p>Федеральное государственное бюджетное учреждение науки "Сибирский федеральный научный центр
        агробиотехнологий Российской академии наук" (СФНЦА РАН)</p>
    <p>Является научной организацией</p>
    <p>В соответствии с приказом ФАНО России от 30 сентября 2015г. № 496 Федеральное государственное бюджетное учреждение "Сибирское отделение аграрной науки" реорганизовано в форме присоединения к нему:</p>
    <ul class="list-group">
        <li class="list-group-item"><img src="/static/img/description/Vet.gif" style="width: 45px; margin-right: 1rem;"> Федерального государственного бюджетного научного учреждения <a href="http://www.ievsdv.narod.ru/" class="link-success">"Институт эксперементальной ветеринарии Сибири и Дальнего Востока"</a></li>
        <li class="list-group-item"><img src="/static/img/description/Zhivotnovod.gif" style="width: 45px; margin-right: 1rem;"> Федерального государственного бюджетного научного учреждения "Сибирский научно-исследовательский и проектно-технологический институт животноводства"</li>
        <li class="list-group-item"><img src="/static/img/description/Korma.gif" style="width: 45px; margin-right: 1rem;"> Федерального государственного бюджетного научного учреждения "Сибирский научно-исследовательсий институт кормов"</li>
        <li class="list-group-item"><img src="/static/img/description/Mehan.gif" style="width: 45px; margin-right: 1rem;"> Федерального государственного бюджетного научного учреждения "Сибирский научно-исследовательский институт механизации и электрификации сельского хозяйства"</li>
        <li class="list-group-item"><img src="/static/img/description/sibnitip_1.png" style="width: 45px; margin-right: 1rem;"> Федерального государственного бюджетного научного учреждения "Сибирский научно-исследовательский и технологический институт переработки сельскохозяйственной продукции"</li>
        <li class="list-group-item"><img src="/static/img/description/FTI.gif" style="width: 45px; margin-right: 1rem;"> Федерального государственного бюджетного научного учреждения "Сибирский научно-исследовательсий институт аграрных проблем"</li>
        <li class="list-group-item"><img src="/static/img/description/Econom.gif" style="width: 45px; margin-right: 1rem;"> Федерального государственного бюджетного научного учреждения "Сибирский научно-исследовательский институт экономики сельского хозяйства"</li>
        <li class="list-group-item"><img src="/static/img/description/logomini.png" style="width: 45px; margin-right: 1rem;"> Федерального государственного бюджетного научного учреждения "Кемеровский научно-исследовательский институт сельского хозяйства"</li>
        <li class="list-group-item"><img src="/static/img/description/sibniishtorf.png" style="width: 45px; margin-right: 1rem;"> Федерального государственного бюджетного научного учреждения <a href="http://sibniit.tomsknet.ru/" class="link-success">"Сибирский научно-исследовательский институт сельского хозяйства и торфа"</a></li>
        <li class="list-group-item"><img src="/static/img/description/Himiz.gif" style="width: 45px; margin-right: 1rem;"> Федерального государственного бюджетного научного учреждения <a href="https://web.archive.org/web/20170626021319/http://sibniizih.ru/" class="link-success">"Сибирский научно-исследовательский институт земледелия и химизации сельского хозяйства"</a></li>
        <li class="list-group-item">Федерального государственного бюджетного научного учреждения "Научно-исследовательский институт ветеринарии Восточной Сибири"</li>
    </ul>
<br>
    <div class="text-center">
        <img src="/static/img/description/sfcnaran3.jpg" alt="СФНЦА РАН">
    </div>
{% endblock %}