{% set active_page = "" %}
{% extends 'base.html' %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block content_title %}
{% endblock %}

{% block content %}
    <div class="main-content">
        <div class="post_image">
            <img src="/static/img/post_image/{{ post.path }}" alt="{{ post.path }}" class="post_img_min">
        </div>

        <h1>{{ post.title }}</h1>

        <div class="tags">
            {% for tag in tags %}
            Теги:
                <a href="{{ url_for('posts.tag_detail', slug=tag.slug) }}">
                    <span class="badge bg-{{ tag.color }}">{{ tag.name }}</span>
                </a>
            {% endfor %}
        </div>
        <br>
        {{ post.editordata|safe }}
    </div>

    <div class="btn">
        <a class="btn btn-outline-success new_green" href=" {{ url_for('posts.index') }}">Вернуться к списку новостей</a>
    </div>
<br>
{% endblock %}